body{
    background-image: url("../images/backphoto.jpg");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
   
    text-align: center;
    font-size: 60px;
    color:black;
    font-family: "Times New Roman", Times, serif;
    
}
.headerspan{
    color: red;
    font-size:80px;
}
nav{
    
    display: grid;
    grid-template-rows: 1.2fr 1.2fr 1.2fr 1,2fr;
    grid-gap:5px;
    
    padding-bottom:2cm;
    font-size:40px;

}
.red{
    color:red;
}

footer{
    font-size: 18px;
    color:white;
    background-color: black;
    padding-bottom: 18px;
    width: 100%;
    height: 23px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer1{
    float:right;
}

.nobullets{
    list-style-type: none;
    font-size: 30px;
    padding-bottom: 3cm;
}    


.tablica1{
    width: 100%;
    text-align: left;
    vertical-align: bottom;
}

section {
    display: flex;
    flex-flow: row wrap;
   }
.float{
    float:right;
}

.flex2{
    flex: 1;
}
