body{
    background-image: url("../images/backphoto.jpg");
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
    
    text-align: center;
    font-size: 60px;
    color:black;
    font-family: "Times New Roman", Times, serif;
}
.headerspan{
    color: red;
    font-size:80px;
}
nav{
    
    display: grid;
    grid-template-rows: auto ;
    grid-gap:5px;
    
    padding-bottom: 2cm;
    font-size:40px;

}


.Onamapara{
    font-size: 20px;

}
.red{
    color:red;
}


footer{
    font-size: 18px;
    color:white;
    background-color: black;
    padding-bottom: 18px;
    width: 100%;
    height: 23px;
    position: fixed;
    left: 0;
    bottom: 0;
}



.footer1{
    float:right;
}

.responsive {
    width: 48%;
    height: auto;
  }

.responsive1 {
    width: 48%;
    height: auto;
    float:right;
  }
